.carouselContainer {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .card {
    position: relative;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .cardContent {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  
  .cardTitle {
    font-weight: bold;
    color: #333;
  }
  