
  .header {
    margin-bottom: 2rem;
    background-image: url("https://res.cloudinary.com/dmyzudtut/image/upload/v1730914616/inner-banner-bg_aomm7x.jpg");
    height: 400px;
    background-size: cover;   /* Ensures the image covers the entire header area */
    background-position: center;  /* Centers the image within the header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .card-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .required {
    color: red;
    margin-left: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form-checkbox {
    font-size: 14px;
  }
  
  .link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .submit-button {
    background-color: #63ab45;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  

  .login-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  