.home-banner {
    max-width: 1540px;
    margin-inline: auto;
    padding-inline: 35px;
    border-radius: 30px;
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.coming-soon {
    position: absolute;
    top: -22px;
    z-index: 99;
    font-size: 12px; /* Set the size you prefer */
    color: #ff6b6b; /* Red or a noticeable color for emphasis */
    font-weight: bold;
    margin-top: 5px; /* Adds spacing if necessary */
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: rgba(255, 107, 107, 0.1); /* Light background for emphasis */
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
  
}

.banner-outer {


    height: 700px;
    width: 100%;
}

.datepicker-input {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
}

.react-datepicker__input-container {
    width: 100%;
}

.banner-img {

    width: 100%;
    object-fit: cover;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.banner-inner {

    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-inner-content {
    position: absolute;
    z-index: 999;
    top: 10%;

    color: white;

}

.banner-inner-location {
    background-image: url('/images/p');
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .4px;
    gap: 10px;
}

.search-headings {
    display: flex;
    /* color: black; */
    width: 100%;

    max-width: 700px;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    /* Adjust as needed */
    overflow: hidden;

}

.search-headings-tour {
    background-color: #edf2de;
    max-width: 400px;
    padding-block: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 4%;
    position: relative;
    justify-content: center;
    gap: 10px;
}

.search-headings-tour:hover {
    background-color: #63ab45;
    color: white;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -47px;
    position: absolute;
    width: 100%;
    padding-inline: 35px;
}

.search-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-options-button {
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;

    white-space: nowrap;
    background-color: #63ab45;
    padding: 30px 53px;
    border-radius: 0 0 30px 0;
    color: white;
}

.select-dropdown {
    position: absolute;
}

.search-input {
    top: 0;
    border: none;
    outline: none;
    background: white;
    width: 100%;
    padding: 5px;
    position: sticky;
    font-size: 16px;
}

.select-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
    max-width: 400px;
    top: 70px;
}

.dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

.search-options-tour {
    background-color: #edf2de;
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
 
    gap: 10px;
    justify-content: center;
    padding-block: 15px;
    gap: 15px;
}

.arrow-down {
    font-size: 27px;
}

.search-options-outer {
    display: flex;
    width: 100%;
    background-color: #edf2de;
    border-radius: 0 0 30px 30px;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.next-arrow {
    right: 15px;
}

.prev-arrow {
    left: 15px;
}

@media screen and (max-width: 1100px) {
    .search-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        /* Creates two equal-height rows */
        gap: 20px;

    }

    .search-options-outer {
        flex-direction: column;
    }

    .search-options-button {
        border-radius: 0 0 30px 30px;
    }

    .search-options {
        padding: 20px;
    }

    .search-options-tour {
        border: 1px solid #dbe1cd;
    }

    .search-headings {
        /* display: grid; */
        grid-template-columns: auto auto;
        /* Each column will adjust to its content */
        grid-template-rows: repeat(2, 2fr);
    }
}

@media screen and (max-width: 700px) {
    .search-options {

        grid-template-columns: repeat(1, 1fr);
        /* Creates two equal-height rows */


    }

    .home-banner {
        height: 1000px;
    }

    .search-bar {
        padding-inline: 15px;
    }

    .home-banner {
        padding-inline: 15px;
    }
}

@media screen and (max-width: 540px) {
    .search-headings {
        display: grid;
        /* color: black; */
        grid-template-columns: repeat(2, 1fr);
        border-radius: 0;


    }

    .home-banner {
        padding-inline: 10px;
    }

    .search-bar {
        padding-inline: 10px;
    }
}