.container {
 
    text-align: center;
  }
  
  .header {
    margin-bottom: 2rem;
    background-image: url("https://res.cloudinary.com/dmyzudtut/image/upload/v1730914616/inner-banner-bg_aomm7x.jpg");
    height: 400px;
    background-size: cover;   /* Ensures the image covers the entire header area */
    background-position: center;  /* Centers the image within the header */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four equal columns */
    gap: 1rem;
    max-width: 1350px;
    margin-inline: auto;
    padding: 2rem;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 400px;
    width: 100%;
    max-width: 500px;
  }
  .card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;

  }
  
 
  .pagination {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .nextButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* Three columns on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
      padding: 10px;
    }
     .header{
  height: 300px;
    }
    .title{
      font-size: 2remgit ;
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr; /* One column on very small screens */
    }
  }