.container {
    padding-inline: 20px;
    max-width: 1300px;
    margin: 20px auto;
    line-height: 1.6;
    border-inline: 1px solid rgb(173, 172, 172);
   
  }
  
  .mainHeading {
    font-size: 32px;
    margin-bottom: 10px;
    color: #2a2a2a;
    margin-top: 20px;
    text-align: center;
  }
  
  .lastUpdated {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .subHeading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #4a4a4a;
  }
  
  .description {
    margin-bottom: 15px;
    color: #555;
  }
  
  .list {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
  }
  
  .contactInfo {
    margin-top: 10px;
  }
  
  .link {
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  