.tour-experience {
    text-align: center;
    padding: 20px;
    max-width: 1340px;
    margin-inline: auto;
  }
   .header {
    margin-bottom: 20px;
  }
  
  .subtitle {
    color: #6da06f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
  }
  
  .tabs span {
    cursor: pointer;
    font-weight: bold;
  }
  
  .active {
    color: green;
  }
  
  .tour-cards {
  display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  @media screen and (max-width: 960px) {
   
    .tour-cards{
    
      grid-template-columns: repeat(2, 1fr);
          
        }


  }
  @media screen and (max-width: 560px) {
   
    .tour-cards{
    
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
          
        }

.tour-experience{
  padding-inline: 10px;
}
  }

