.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 40px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1350px;
    margin-inline: auto;
  }
  
  .promo-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .promo-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .promo-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .promo-button:hover {
    transform: scale(1.05);
  }
  
  .footer-links {
    display: flex;
    flex: 2;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .quick-links, .more-inquiry, .about-section, .payment-partner {
    flex: 1;
  }
  
  .quick-links h3, .more-inquiry h3, .about-section h3, .payment-partner h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .quick-links ul {
    list-style: none;
    padding: 0;
  }
  
  .quick-links li {
    margin-bottom: 5px;
  }
  
  .payment-icons span {
    display: inline-block;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    border-top: 1px solid #333;
    padding-top: 10px;
  }
  
  .footer-bottom a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  

  @media screen and (max-width: 860px) {
    .footer-links {
     flex-wrap: wrap;
    }
    .footer-content{
  flex-direction: column;
    }
    
}