.tour-main {
  max-width: 1350px;
  margin-inline: auto;
  margin-top: 50px;
  padding-inline: 20px;
}

.tour-details-panel {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
}



.tour-details-snapsots>p {
  font-weight: 500;
  font-size: 22px;

}

.tour-details-snapsots-single {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tour-details-inner {
  width: 100%;
  font-size: 16px;
}

.tour-details-snapsots {
  width: 100%;
  padding-inline: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;

}

.tour-details-snapsots-single {
  width: 100%;
  margin-top: 10px;
}

.tour-details {
  width: 100%;
}

.tour-details-snapsots-emojis {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
  gap: 10px;
}

.panel-heading {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .75px;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.panel-des {

  text-align: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #787878;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.panel-buttons {
  display: flex;
  gap: 10px;
}

.panel-buttons>button {
  color: #63ab45;
  text-align: center;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 0;
  width: 48%;
  padding: 10px 15px;
}

.tour-booking-panel {

  border-radius: 10px;
  max-width: 400px;
  min-width: 300px;
  background: linear-gradient(125deg, rgba(99, 171, 69, 0.1) 0%, rgba(251, 176, 59, 0.1) 100%);
  border-radius: 5px;
  padding: 25px;

  width: 100%;
  animation: fadeIn 1s ease-in-out;
}

.dateSelection input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-bottom: 10px;
}

.counter button {
  background-color: #dff0d8;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.counter button:hover {
  background-color: #c8e1c1;
}

.extraService {
  display: block;
  margin: 8px 0;
}

.summary {
  margin: 20px 0;
}

.bookButton {
  background-color: #7db87d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  transition: background 0.3s;
}

.bookButton:hover {
  background-color: #6da76d;
}

.inquiryForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.inquiryForm label {
  font-size: 14px;
  font-weight: bold;
  color: #333;

}

.inquiryForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.inquiryForm input:focus {
  border-color: #4caf50;
}

.inquiryForm button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.inquiryForm button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.tour-details-overview {

  color: #787878;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .54px;
  margin-bottom: 16px;
}

.tour-details-overview>h2 {
  margin-bottom: 10px;
  color: black;
}

.tour-details-inc-exc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}

.tour-details-includeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tour-details-incl {


  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.tour-details-excluded {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.tour-details-highliglits {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.tour-details-check {
  color: #7db87d;
  margin-top: 8px;
  min-width: 20px;
}

.tour-details-cross {
  color: red;
  font-size: 20px;
  margin-top: 8px;
  min-width: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 990px) {
  .gallery {
    flex-direction: column;
    margin-inline: auto;
    max-width: 700px;
    height: auto;
  }

  .tour-booking-button-pannel {
    position: fixed !important;
   bottom: 0;
   justify-content: space-between;
   top: auto !important;
   display: flex;
   padding: 10px !important;
    margin-bottom: 0px !important;
    width: 96%;
    background-color: #edf2de !important;
    z-index: 999999;
    align-items: center;
  }
  .tour-booking-button-pannel > button {
padding: 10px 20px !important;
  }
  .gallery-banner {
    width: 100%;
  }

  .tab-panel {
    flex-direction: column;
  }

  .gallery-images {
    width: 100%;
  }

  .tour-details-panel {
    flex-direction: column;

  }

  .tour-booking-panel {
    max-width: none;
  }
}



@media screen and (max-width: 640px) {
  .tour-details-inc-exc {
    flex-direction: column;
  }

  .tour-details-overview {
    font-size: 14px;
    line-height: 28px;
  }

  .tabs button {
    font-size: 14px !important;
    padding: 10px 10px !important;
  }

  .tour-main {
    padding-inline: 10px;
  }

}


.tour-category {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 15px 0;
  color: #444;
}

.tour-category label {
  font-weight: bold;
  color: #333;
}

.category-select {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.category-select:focus {
  border-color: #81c784;
  box-shadow: 0 4px 8px rgba(129, 199, 132, 0.3);
  background-color: #f1f8e9;
}

.category-select:hover {
  border-color: #66bb6a;
}

.category-select option {
  background: white;
  color: #333;
  font-size: 1rem;
  padding: 8px;
}

.category-select option:hover {
  background: #e0f2f1;
  color: #00695c;
}

/* Dropdown open animation */
@keyframes dropdown-open {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.category-select {
  animation: dropdown-open 0.3s ease-out;
}



.header {
  margin-bottom: 20px;
  position: sticky;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.sub-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customizable-btn {
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.duration,
.location {
  font-size: 14px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery-item {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.main-image {
  grid-column: span 2;
  grid-row: span 2;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.view-gallery-btn {
  color: #fff;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.tabs {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.tabs button {
  background: none;
  border: none;
  font-size: 19px;
  cursor: pointer;
  color: rgb(73, 69, 69);
  padding: 10px 25px;
  font-weight: bold;
}


.tour-main {
 
}

.tabs {
  display: flex;
  position: sticky;
  top: 73px;
  background-color: white;
  margin: 20px 0;
}

.tab-active {
  border-bottom: 3px solid #63ab45 !important;
  color: #63ab45;

}

.tab-panel {
  display: flex;
  gap: 20px;
}

.tab-content {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.itinerary {
  display: flex;
}

.day-plan {
  width: 25%;
  border-right: 1px solid #ddd;
}

.day-item {
  padding: 10px;
  cursor: pointer;
}

.day-active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.day-details {
  padding: 20px;
  width: 75%;
}

.policies,
.summary {
  padding: 20px;
}
.policies > h2{
  margin-block: 10px;
}
.tour-booking-button-pannel {
  padding: 20px;
 
  border-radius: 5px;
  margin-bottom: 20px;
  position: sticky;
  top: 100px;
  z-index: 999;
  /* background: linear-gradient(125deg, #63ab451a, #fbb03b1a); */
  background-color: #edf2de !important;
}

.tour-booking-button-pannel>button {
margin-bottom: 10px;
  background-color: #63ab45;
  outline: none;
  border: none;
  font-size: 12px;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

.tour-booking-taxes {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 8px;
  color: #757575;

}

.tour-booking-price {
  font-size: 24px;
  font-weight: 800;
  line-height: 22px;
  margin-bottom: 8px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dialog-box {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  max-height: 80vh; /* Limits the height to 80% of the viewport */
  overflow-y: auto; /* Adds a vertical scrollbar when content exceeds max height */
}

.dialog-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #999;
  transition: color 0.3s;
}

.dialog-close:hover {
  color: #333;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialog-header h3 {
  font-size: 18px;
  margin: 0;
}

.dialog-details {
  display: flex;
  gap: 10px;
}

.dialog-badge {
  
  color: black;
  background-color: #edf2de;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
}

.dialog-rating {
  color: #ff9800;
  font-size: 14px;
}

.dialog-button-primary {
  background-color: #63ab45;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dialog-input {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
}

.dialog-counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-counter button {
  background-color: #edf2de;
  border: 1px solid #0056b3;
  color: #0056b3;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.dialog-counter button:hover {
  background-color: #63ab45;
  color: white;
}

.dialog-counter span {
  font-size: 16px;
  font-weight: bold;
}

.dialog-room-section {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 15px;
}

.dialog-room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #63ab45;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.dialog-room > span{
  color: white;
}

.dialog-link {
  color: #0056b3;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}

.dialog-link:hover {
  text-decoration: underline;
}
.dialog-remove-room {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 10px;
}

.dialog-remove-room:hover {
  background: #ff9999;
}

.dialog-link {
  background: none;
  border: none;
  color: #0056b3;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.dialog-link:hover {
  text-decoration: underline;
}



.customize-dialog-container {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  max-width: 1100px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  
}

.customize-dialog-left {
  background: #f8f9fa;
  flex: 1;
  padding: 20px;
}

.customize-dialog-right {
  background-color: #edf2de ;
  color: #fff;
 max-width: 550px;
 width: 100%;
 margin-inline: 20px;
  padding: 20px;
  border-radius: 8px;

}

.customize-dialog-title {
  margin-bottom: 10px;
  color: black;
}

.customize-dialog-list {
  list-style: none;
  padding: 0;
}

.customize-dialog-list li {
  padding: 10px 0;
  line-height: 1.5;
}

.highlight-text {
  font-weight: bold;
  color: #007bff;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 15px;
}
.form-group > label{
  margin-block: 5px;
  font-size: 14px;

}

/* :global(input) {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
} */

.customize-dialog-button {
  background: #63ab45;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.customize-dialog-button:hover {
  background: #e76f51;
}

.approval-section {
  margin-top: 20px;
  text-align: center;
}

.approval-section img {
  width: 60px;
  margin: 5px;
}

.approval-section p {
  font-size: 14px;
  color: black;
  line-height: 1.6;
}
.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f0f8ff; /* Light blue background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin: 20px 0;
  animation: fadeIn 0.5s ease-in-out;
}

.success-message h3 {
  color: #2e7d32; /* Success green */
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.success-message p {
  color: #333; /* Dark text color */
  font-size: 1.2rem;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

